@charset 'utf-8';

/* layout */
html, body{width:100%;position:relative;z-index:1;}
.ie8 body{min-width:74em}
.ie7 body{overflow-x:hidden;}
body.no{overflow:hidden}
.allwrap{position:relative;width:74em;z-index:2;margin:0 auto}
.header, .container, .footer{position:relative;z-index:1;}
.content{min-height:60em}
.section{position:relative;width:60em;margin:0 auto;}
.container{overflow:hidden;}
.blind{display:none;position:absolute;z-index:1000;left:0;top:0;right:0;bottom:0;background:url(../images/common/bg_black50.png)}
.loading{text-indent:-999px;overflow:hidden;width: 100%;height: 100%;top: 0;left: 0;position: fixed; background:#fff url(../images/common/ajax-loader.gif) center no-repeat; z-index: 1000;}

.b_line_gray{border-bottom:1px solid #d4d4d4}
.t_line_black{border-top:1px solid #000}
.t_line_blue{border-top:1px dotted #0074de}

/* header */
	.header .logo {display:block;width:22em;margin:0 auto;}
	.header .logo span{overflow:hidden;text-indent:-999px;display: block;height:6em;background:url(../images/common/logo.png) center no-repeat;background-size: auto 6em;}
	.header .text{text-align: center}
	.header .text span{color:#444444;font-weight: bold;font-size:0.9em;letter-spacing: .1em}
	.header-title{text-align: center}	
	.header-title span{font-size:1.6em;color:#000;font-weight: bold;letter-spacing: .1em}

	.global-gnb{position:absolute;right:0;top:0}
	.global-gnb a span{color:#5caa22;font-size:0.7em}

/* footer */
	.footer-logo{color: #000}
	.copyright{font-size:0.9em;color:#858585}
	.footer-address p{font-size: 0.8em;line-height: 1.3em}

/* container */
	.main-title{position: relative;text-align: center;padding:1em 0;}
	.main-title span{display:inline-block;font-size:1.5em;color:#0074de;font-weight: bold}
	.main-title.b_line:after{content:'';display:block;position: absolute;bottom:0;left:8em;right:8em;height:2px;background:#666666}

	.login-module .inner{width:30em;margin:0 auto;padding-left:1em;padding-right: 1em}
	.login-module .login-sign{position: relative;padding-right:10em;}
	.login-module .login-sign .text{display: block;line-height: 3em;}	
	.login-module .login-sign .text span{font-size:0.9em;color:#000}	
	.login-module .login-form{position: relative;padding-right: 10em}
	.login-module .btn-signup{position:absolute;top:0;right:0;width:9em;display:block;line-height:3em;text-align: center;background:#0074de}
	.login-module .btn-signup span{display:inline-block;position: relative;top:-3px; color:#fff;font-size: 0.9em;}
	.login-module .btn-login{position:absolute;top:0;right:0;width:9em;display:block;line-height:6.5em;text-align: center;background:#1b3954}
	.login-module .btn-login span{display:inline-block;position: relative;top:-3px; color:#fff;font-size: 0.9em;}
	.login-module input{width:100%;box-sizing: border-box;height:3em}

	.find-form .btn-find{position:absolute;top:0;right:0;width:9em;display:block;line-height:6.5em;text-align: center;background:#000}
	.find-form .btn-find span{display:inline-block;position: relative;top:-3px; color:#fff;font-size: 0.9em;}
	.find-form input{width:100%;box-sizing: border-box;height:3em}
	.find-form{position: relative;padding-right:10em}

	/* register-module */
	.register-module .inner{padding:1em 8em}
	.select-area{position: relative;padding-bottom:1.5em;padding-top:1em}
	.select-area:after{content:'';position: absolute;left:-8em;right:-8em;display: block;height:1px;bottom:0;background:#77b5ed}
	.select-area:before{content:'●';color:#77b5ed;position: absolute;left:-8.5em;bottom:-.45em;line-height: 1em}
	.select-area .select-label{font-size: 0.8em;color:#444444;line-height: 2.5em}
	.select-area .select-box select{box-sizing: border-box;width:100%;height:3em;font-size:0.85em}

	/* table */
	.tbl-A{position:relative;border:2px solid #000}
	.tbl-A table{font-size:0.85em}
	.tbl-A table thead th{border-right:2px solid #000;background:#f3f2ee;color:#444;padding:1em;font-weight:normal;text-align:right}
	.tbl-A table tbody td{border-bottom:1px solid #f1f1f1;padding:1em 1.5em}
	.tbl-A table tbody td.center{text-align:center}

	.tbl-B{position: relative;border:2px solid #0074de}
	.tbl-B thead tr th{height:2em;font-weight:normal;border-bottom:2px solid #444444;background: #2990cb;color: #fff;border-left:1px dotted #000}
	.tbl-B thead tr th:first-child{border-left:0}
	.tbl-B tbody tr td{padding:1em;text-align: center;border-left:1px dotted #000}
	.tbl-B tbody tr td:first-child{border-left:0}


	.tbl-register .col1{width:18em}

	/* button */
	.button-right{text-align: right}
	.button-center{text-align: center}

	a[class^="btn-"], button[class^="btn-"], input[class^="btn-"]{display: inline-block;}
	.btn-middle{width:12em;padding:.5em 0} 
	.btn-small{width:9.5em;padding:0.6em 0} 	
	.btn-round{border-radius: 3em}
	.btn-A{background:#000;color:#fff;text-align: center;}
	.btn-A:hover{color:#fff;}	
	.btn-A span{font-size:0.9em}	
	.btn-B{background:#595959;color:#fff;text-align: center}
	.btn-B:hover{color:#fff;}	
	.btn-B span{font-size:0.9em}
	.btn-C{background:#0074de;color:#fff;text-align: center}
	.btn-C:hover{color:#fff;}	
	.btn-C span{font-size:1.16em}

	/* alert-module */
	.alert-module{position: absolute;z-index:0;width:40em;top:-1000em;left:50%;margin-left:-20em;}
	.alert-module.is-active{z-index:1000;top:50%;}
	.alert-module .inner{padding:2em 6em 3em;border:3px solid #000;background: #fff}
	.alert-module .title{padding-left:1em;background: url(../images/common/blit-A.png) left 50% no-repeat;}
	.alert-module .title span{color:#000;font-size:1.2em}
	.alert-module .btn-alert-close{position: absolute;right: 1em;top:1em;width:2em;height:2em;display: block;background: url(../images/common/icon-close.png) center no-repeat;overflow: hidden;text-indent: -999px}

