<section class="section">

	<!-- register -->
	<div class="register-module pt20 ">
		<h2 class="main-title b_line"><span>Start Your Registration</span></h2>
		<div class="inner">
			<div class="text-area pb20 pt5">
				<p class="text14 c_black">Please select registration Category</p>
			</div>
			<div class="select-area">
				<label for="" class="select-label">PASSPORT REGISTRATION</label>
				<div class="select-box">
					<select name="" id="">
						<option value="">IEEE or CVF member passport</option>
						<option value="">Non-member passport</option>
						<option value="">Student IEEE or CVF member passport</option>
						<option value="">Non-member student</option>
						<option value="">Life/Retired members passport</option>	
					</select>
				</div>
			</div>


			<div class="select-area">
				<label for="" class="select-label">ONE DAY WORKSHOP/TUTORIAL PASS*</label>
				<div class="select-box">
					<select name="" id="">
						<option value="">IEEE or CVF Member One-day Workshop/Tutorial pass</option>
						<option value="">Non-member One-day Workshop/Tutorial pass</option>
						<option value="">Student IEEE or CVF member One-day</option>
						<option value="">Non-member Student One-day</option>
						<option value="">Exhibition & Posters Only One-day</option>
					</select>
				</div>
				<div class="text-area pt10">
					<p class="text12 c_blue">* Student fees and Daily fees DO NOT INCLUDE attendance to the Banquet. Registrant who wish to attend the Banquet can purchase an “Extra Banquet ticket” while registering</p>
				</div>
				<!-- 4개의 카테고리에 한하여, 3일 중 하루 선택란 생성 -->
				<div class="select-category text-area pt10">
					<div class="text12">
						<label><input type="radio" name="" /> <span>27 Oct</span></label>
						<label><input type="radio" name="" /> <span>28 Oct</span></label>
						<label><input type="radio" name="" /> <span>02 Nov</span></label>
					</div>
				</div>
				<!-- Exhibition & Posters Only One-day 개의 카테고리에 한하여, 5일 중 하루 선택란 생성 -->
				<div class="select-category text-area pt10">
					<div class="text12">
						<label><input type="radio" name="" /> <span>28 Oct</span></label>
						<label><input type="radio" name="" /> <span>29 Oct</span></label>
						<label><input type="radio" name="" /> <span>30 Oct</span></label>
						<label><input type="radio" name="" /> <span>31 Oct</span></label>
						<label><input type="radio" name="" /> <span>01 Nov</span></label>
					</div>
				</div>
			</div>
			<div class="select-area">
				<label for="" class="select-label">OTHERS</label>
				<div class="select-box">
					<select name="" id="">
						<option value="">Extra Banquet ticket for accompanying person</option>
						<option value="">Poster Printing</option>
						<option value="">Additional Expo** **Expo Code Required</option>
						<option value="">Press Pass*** ***Press Code Required</option>
						<option value="">Sponsor**** ****Sponsor Code Required</option>	
					</select>
				</div>
				<!-- Additional,Press,Sponsor -3개의 카테고리에 한하여, 코드 기입란 생성 -->
				<div class="select-category text-area pt10">
					<div class="text12 input-area">
						<label for="discodeCode">Discount Code</label>
						<input type="text" name="discodeCode" id="discodeCode" size="100" />
					</div>
				</div>
				<!-- Extra Banquet -1개의 카테고리에 한하여, 인원 숫자 입력란 생성 -->
				<div class="select-category text-area pt10">
					<div class="text12 input-area">
						<label for="extraPerson">Extra Banquet ticket for accompanying person</label>
						<input type="text" name="extraPerson" id="extraPerson" size="10" />
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- //register -->
	<div class="button-right pt10 pb50">
		<a href="/02_register" class="btn-small btn-round btn-C"><span class="btn-font-big">Next</span></a>
	</div>
</section>
