<section class="section">

	<!-- register -->
	<div class="register-module pt20 ">
		<h2 class="main-title b_line"><span>Additional Info</span></h2>
		
			
	</div>
	<!-- //register -->

	<div class="button-right pt10 pb50">
		<a href="/04_register" class="btn-small btn-round btn-C"><span class="btn-font-big">Next</span></a>
	</div>
</section>
