<!DOCTYPE html>
<html lang="ko">
<head>
	<%- include('_include/head'); %>
</head>
<body>
	<%- include('_include/header'); %>
	<hr />

	<hr>
	<%- include('_include/footer'); %>

	<%- include('_include/tail'); %>
</body>
</html>
