<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	<style type="text/css">
		*{margin:0;padding:0;font-family:'돋움'}
		h1, h2, h3{font-size:1em;}
		html, body{width:100%;height:100%;position:relative;z-index:1;}
		.allwrap{position:relative;width:62em;z-index:2;margin:0 auto}
		.page-top{overflow:hidden;padding-top:1em}
		.page-top .date{float:right;font-weight:bold}
		.main-title{position: relative;padding:1em 2em 1em;text-align:center}
		.main-title span{display:inline-block;font-size:2em;color:#444;font-weight: bold}

		table{width:100%;table-layout:fixed;border-collapse: collapse;border-spacing: 0;font-size:0.8em}
		.tbl-A{position:relative;overflow-x:auto}
		.tbl-A thead th{border:1px solid #c2c2c2;background:#fff4e4;color:#000;padding:1em 0;}
		.tbl-A tbody td{border:1px solid #c2c2c2;padding:1em;line-height:1.4em;text-align: center}
		.tbl-A.c_blue thead th{background:#d9e8e8}
		.tbl-A.c_red thead th{background:#ffe9e4}
	</style>
</head>
<body>
	<div class="allwrap">
		<div class="page-top"><span class="date">수정일 : 2019.04.07</span></div>
		<h1 class="main-title"><span>ICCV 관리자 퍼블리싱</span></h1>
		<div class="content" style="padding-top:1em">
			<div class="tbl-A">
				<table>
					<colgroup>
						<col style="width:10em" />
						<col style="width:5em" />
						<col style="width:5em" />
						<col />
						<col />
						<col style="width:20em"/>
					</colgroup>
					<thead>
						<tr>
							<th colspan="6">ICCV 관리자</th>
						</tr>
						<tr>
							<th colspan="3">메뉴명</th>
							<th>링크</th>
							<th>변경사항</th>
							<th>기타사항</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">메인</td>
							<td><a href="./html/index.html">./html/index.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="2">회원관리</td>
							<td colspan="2">리스트</td>
							<td><a href="./html/member_list.html">./html/member_list.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="2">수정</td>
							<td><a href="./html/member_update.html">./html/member_update.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="1">등록관리</td>
							<td colspan="2">리스트</td>
							<td><a href="./html/register_list.html">./html/register_list.html</a></td>
							<td></td>
							<td>인보이스, 컨펌레터, 메모 클릭시 팝업</td>
						</tr>
						<tr>
							<td rowspan="1">숙박관리</td>
							<td colspan="2">리스트</td>
							<td><a href="./html/accomodation_list.html">./html/accomodation_list.html</a></td>
							<td></td>
							<td>인보이스, 컨펌레터, 메모 클릭시 팝업</td>
						</tr>
						<tr>
							<td rowspan="1">관광관리</td>
							<td colspan="2">리스트</td>
							<td><a href="./html/tourism_list.html">./html/tourism_list.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="1">등록인원통계</td>
							<td colspan="2">뷰</td>
							<td><a href="./html/statistics_person.html">./html/statistics_person.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="1">등록비 통계</td>
							<td colspan="2">뷰</td>
							<td><a href="./html/statistics_register.html">./html/statistics_register.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="1">숙박 통계</td>
							<td colspan="2">뷰</td>
							<td><a href="./html/statistics_accomodation.html">./html/statistics_accomodation.html</a></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="1">관광 통계</td>
							<td colspan="2">뷰</td>
							<td><a href="./html/statistics_tourism.html">./html/statistics_tourism.html</a></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>