<section class="">

	<!-- confirm -->
	<div class="confirm-module pt20 pb50">
		<h2 class="main-title b_line"><span>Confirmation(My Page)</span></h2>
		<div class="inner pt20">
			<h3 class="sub-title bigger"><span>Welcome, Mr. Gildong Hong</span></h3>
			<div class="tbl-F tbl-mypage mt5">
				<table>
					<colgroup>
						<col class="col1">
						<col class="col2">
					</colgroup>
					<thead>
						<tr>
							<th colspan="2">
								<div class="text-area">
									<p class="text20"><span class="c_blue">Your registration confirmation number is </span><strong class="c_black">R00000000</strong></p>
								</div>
							</th>	
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Your paper number</th>
							<!-- 참가자가 직접 입력한 초록 번호, 최대 10개 기입 되어야 합니
							다. -->
							<td>A00000000, A00000000, A00000000, A00000000, A00000000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
		<div class="inner pt20">
			<div class="tbl-C c_blue">
				<table>
					<caption class="skip">카테고리</caption>
					<thead>
						<tr>
							<th scope="col">Category</th>
							<th scope="col">Review & Modify</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Online Registration</td>
							<td><a href="" class="btn-review btn-F"><span class="btn-font-small">Click</span></a></td>
							<td><span class="c_red">Not Completed</span></td>
						</tr>
						<tr>
							<td>Hotel Reservation</td>
							<td><a href="" class="btn-review btn-F"><span class="btn-font-small">Click</span></a></td>
							<td><span class="c_red">-</span></td>
						</tr>	
						<tr>
							<td>Tour Reservation</td>
							<td><a href="" class="btn-review btn-F"><span class="btn-font-small">Click</span></a></td>
							<td><span class="c_red">-</span></td>
						</tr>											
					</tbody>
				</table>
			</div>
			<div class="text-area pt10">
				<p class="text12">Please show me your registration confirmation number at the site registration desk.</p>
			</div>
		</div>
	</div>
	<!-- //confirm -->

</section>
