<section class="section">

	<!-- register -->
	<div class="register-module pt20 ">
		<h2 class="main-title b_line"><span>Personal Information</span></h2>
		
		<div class="board-top">
			<span clas="req">*Required items</span>
		</div>
		<div class="tbl-A tbl-register">
			<table>
				<caption class="skip">등록폼</caption>
				<colgroup>
					<col class="col1">
					<col>
				</colgroup>
				<thead>
					<tr>
						<th scope="row">* ID(E-mail)</th>
						<td>ddd</td>
					</tr>
				</thead>
			</table>

		</div>
	</div>
	<!-- //register -->

	<div class="button-right pt10 pb50">
		<a href="/personalInfo" class="btn-small btn-round btn-C"><span>Next</span></a>
	</div>
</section>
