<section class="section">

	<!-- register -->
	<div class="register-module pt20 ">
		<h2 class="main-title b_line"><span>Start Your Registration</span></h2>
		<div class="inner">
			<div class="text-area pb20 pt5">
				<p class="text14 c_black">Please select registration Category</p>
			</div>
			<div class="select-area">
				<label for="" class="select-label">PASSPORT REGISTRATION</label>
				<div class="select-box">
					<select name="" id="">
						<option value="">-Choose Registration Category-</option>
					</select>
				</div>
			</div>
			<div class="select-area">
				<label for="" class="select-label">ONE DAY WORKSHOP/TUTORIAL PASS*</label>
				<div class="select-box">
					<select name="" id="">
						<option value="">-Choose Registration Category-</option>
					</select>
				</div>
				<div class="text-area pt10">
					<p class="text12 c_blue">* Student fees and Daily fees DO NOT INCLUDE attendance to the Banquet. Registrant who wish to attend the Banquet can purchase an “Extra Banquet ticket” while registering</p>
				</div>
			</div>	
			<div class="select-area">
				<label for="" class="select-label">OTHERS</label>
				<div class="select-box">
					<select name="" id="">
						<option value="">-Choose Registration Category-</option>
					</select>
				</div>
			</div>
		</div>	
	</div>
	<!-- //register -->
	<div class="button-right pt10 pb50">
		<a href="/personalInfo" class="btn-small btn-round btn-C"><span>Next</span></a>
	</div>
</section>
