<section class="section">
    <h2 class="main-title b_line_gray"><span>등록비 통계</span></h2>
    <div class="inner">
        <h3 class="sub-title skip"><span>통계</span></h3>
        <div class="board-top pt20 pb5 right">
            <a href="" class="btn-reg btn-C"><span class="icon-excel"></span> <span class="text">엑셀 파일 다운로드</span></a>
        </div>       
        <div class="tbl-D font14">
            <table>
                <colgroup>
                    <col style="width:15em">
                    <col style="width:20em">
                    <col style="width:6em">
                    <col style="width:6em">                    
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" rowspan="2" colspan="4">Category</th>
                        <th scope="col" colspan="2">Early</th>
                        <th scope="col" colspan="2">Standard</th>
                        <th scope="col" colspan="2">On-site</th>
                        <th scope="col" colspan="2">Total</th>
                    </tr>
                    <tr class="smaller">
                        <th scope="col">Person</th>
                        <th scope="col">Fee(KRW)</th>
                        <th scope="col">Persons</th>
                        <th scope="col">Fee(KRW)</th>
                        <th scope="col">Persons</th>
                        <th scope="col">Fee(KRW)</th>
                        <th scope="col">Persons</th>
                        <th scope="col">Fee(KRW)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="11" class="c_green">PASSPORT REGISTRATION</th>
                        <td colspan="2" rowspan="2">IEEE or CVF member passport</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">Non-member passport</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Student IEEE or CVF member passport</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Non-member student</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Life/Retired members passport</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height:3em">Sub Total(A)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th rowspan="11" class="c_blue">ONE DAY WORKSHOP / TUTORIAL PASS</th>
                        <td colspan="2" rowspan="2">Non-member One-day Workshop/Tutorial pass</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">IEEE or CVF Member One-day Workshop/Tutorial pass</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Non-member Student One-day</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Student IEEE or CVF member One-day</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Exhibition & Posters Only One-day</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height:3em">Sub Total(A)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>         
        
                    <tr>
                        <th rowspan="11" class="c_orange">OTHERS</th>
                        <td colspan="2" rowspan="2">Extra Banquet ticket for accompanying person</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">Poster Printing</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Additional Expo</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Press Pass</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" rowspan="2">Sponsor Pass</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height:3em">Sub Total(A)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>   
                    <tr>
                        <th rowspan="5" class="c_gray">OPTIONAL ITEMS</th>
                        <td colspan="2" rowspan="2">Express shipping for Invitation Letter</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2" colspan="2">additional guest - reception ticket</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr class="bg">
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="2" style="height:3em">Sub Total(A)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td></td>
                    </tr>                                                              												
                </tbody>
                <tfoot class="total">
                    <tr>
                        <td colspan="3" rowspan="2" style="font-size:1.4em">TOTAL AMOUNT (A+B+C+D)</td>
                        <td>미납</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>결제완료</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</section>