<section class="section">
    <h2 class="main-title b_line_gray"><span>관광 통계</span></h2>
    <div class="inner">
        <h3 class="sub-title skip"><span>통계</span></h3>
        <div class="board-top pt20 pb5 right">
            <a href="" class="btn-reg btn-C"><span class="icon-excel"></span> <span class="text">엑셀 파일 다운로드</span></a>
        </div>       
        <div class="tbl-D font14">
            <table>
                <colgroup>
                    <col style="width:15em">
                    <col style="width:20em">
                    <col style="width:5em">
                    <col style="width:5em">                    
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col" colspan="4">Category</th>
                        <th scope="col">Early</th>
                        <th scope="col">Standard</th>
                        <th scope="col">On-site</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="5" class="c_green">PASSPORT REGISTRATION</th>
                        <td colspan="3">IEEE or CVF member passport</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">Non-member passport</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>		
                    <tr>
                        <td colspan="3">Student IEEE or CVF member passport</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">Non-member student</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="3">Life/Retired members passport</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <th rowspan="17" class="c_blue">ONE DAY WORKSHOP / TUTORIAL PASS</th>
                        <td rowspan="3">IEEE or CVF Member One-day Workshop/Tutorial pass</td>
                        <td>Oct 27</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td>Oct 28</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nov 02</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>    
                    <tr>
                        <td rowspan="3">Non-member One-day Workshop / Tutorial pass</td>
                        <td>Oct 27</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td>Oct 28</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nov 02</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>     
                    <tr>
                        <td rowspan="3">Student IEEE or CVF member One-day</td>
                        <td>Oct 27</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td>Oct 28</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nov 02</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>            
                    <tr>
                        <td rowspan="3">Non-member Student One-day</td>
                        <td>Oct 27</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td>Oct 28</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nov 02</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>    
                    <tr>
                        <td rowspan="5">Exhibition & Posters Only One-day</td>
                        <td>Oct 28</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td>Oct 29</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Oct 30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>         
                    <tr>
                        <td>Oct 31</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>      
                    <tr>
                        <td>Nov 01</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>  
                    <tr>
                        <th rowspan="5" class="c_orange">OTHERS</th>
                        <td colspan="3">Extra Banquet ticket for accompanying person</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">Poster Printing</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>		
                    <tr>
                        <td colspan="3">Additional Expo</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">Press Pass</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	
                    <tr>
                        <td colspan="3">Sponsor Pass</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>	     
                    <tr>
                        <th rowspan="2" class="c_gray">OPTIONAL ITEMS</th>
                        <td colspan="3">Express shipping for Invitation Letter</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">additional guest - reception ticket</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>         
                    <tr>
                        <th rowspan="2" class="c_red">SOCIAL EVENT</th>
                        <td colspan="3">Welcome Reception</td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="3">Banquet</td>
                        <td colspan="4"></td>
                    </tr>                                                 												
                </tbody>
            </table>
        </div>
    </div>

</section>