	<!-- container 본문 -->
	<div class="container-area">
		<div class="content-visual-top"><img src="/public/images/content/cotnent-top-img01.png" alt="" /></div>
		<div id="container">
			<!-- content-path -->
			<div class="content-path">
				<div class="section">
					<h2 class="skip">현재위치</h2>
					<ul class="clear clearfix">
						<li><a href="">HOME</a></li>
						<li><strong>BUSINESS</strong></li>
					</ul>
				</div>
			</div>
			<!-- //content-path -->
			<!-- content -->
			<div class="content" id="content">
				<div class="section">
					<h2 class="content-title-01"><span>BUSINESS</span></h2>
					<p class="content-title-01-text"><span>협통피엘티는 전력 및 에너지 산업 분야의 고객에게 혁신적인 솔루션을 제공합니다.</span></p>

					<!-- Industrial -->
					<div class="sub-content pt40" id="sub01">
						<h3 class="content-title-02 blit"><span>Industrial Division</span></h3>
						<h4 class="content-title-03 pt30"><span>Steel plant application</span></h4>
						<div class="img-section-01 mt10">
							<div class="col-left">
								<div class="col"><span><img src="/public/images/content/stell-img01.png" alt="" /></span></div>
							</div>
							<div class="col-right">
								<div class="col"><span><img src="/public/images/content/stell-img02.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/stell-img03.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/stell-img04.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/stell-img05.png" alt="" /></span></div>
							</div>
						</div>
						<h4 class="content-title-03 pt40"><span>Power plant application</span></h4>
						<div class="img-section-01 mt10">
							<div class="col-left">
								<div class="col"><span><img src="/public/images/content/power-img01.png" alt="" /></span></div>
							</div>
							<div class="col-right">
								<div class="col"><span><img src="/public/images/content/power-img02.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/power-img03.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/power-img04.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/power-img05.png" alt="" /></span></div>
							</div>
						</div>
					</div>
					<!-- //Industrial -->
					<!-- Environmental -->
					<div class="sub-content pt50" id="sub02">
						<h3 class="content-title-02 blit"><span>Environmental Division</span></h3>
						<h4 class="content-title-03 pt30"><span>수처리</span></h4>
						<div class="img-section-02 mt10">
							<div class="col-top">
								<div class="col"><span><img src="/public/images/content/env-img01.png" alt="" /></span></div>
							</div>
							<div class="col-bottom">
								<div class="col"><span><img src="/public/images/content/env-img02.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/env-img03.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/env-img04.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/env-img05.png" alt="" /></span></div>
							</div>
						</div>
						<h4 class="content-title-03 pt40"><span>소각건조설비</span></h4>
						<div class="img-section-01 mt10">
							<div class="col-left">
								<div class="col"><span><img src="/public/images/content/env2-img01.png" alt="" /></span></div>
							</div>
							<div class="col-right">
								<div class="col"><span><img src="/public/images/content/env2-img02.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/env2-img03.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/env2-img04.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/env2-img05.png" alt="" /></span></div>
							</div>
						</div>
						<h4 class="content-title-03 pt40"><span>환경장치산업/UTNI</span></h4>
						<div class="img-section-01 mt10">
							<div class="col-left">
								<div class="col">
									<div class="text-area lh16">
										<p class="c_gray pr10">UTNI solution is encouraged to be used in water treatment like absorption or reproduction of substance which includes bad smell component. <br /> HyupDong is partner of UTNI and responsible for commercial promotion.</p>
									</div>
									<div class="img-area pt10">
										<img src="/public/images/content/utini-img01.png" alt="" />
									</div>
								</div>
							</div>
							<div class="col-right">
								<div class="col"><span><img src="/public/images/content/utni-img02.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/utni-img03.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/utni-img04.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/utni-img05.png" alt="" /></span></div>
							</div>
						</div>
					</div>
					<!-- //Environmental -->
					<!-- //Maintenance -->
					<div class="sub-content pb50 pt50" id="sub03">
						<h3 class="content-title-02 blit"><span>Maintenance Division</span></h3>
						<div class="text-area pt20 lh16">
							<p class="c_gray">HyupDong PLT is starting promotion in aged plant facilities with friendly partner and currently focusing on Pipe maintenance business.</p>
						</div>
						<div class="img-section-03 mt10">
							<div class="col-all">
								<div class="col"><span><img src="/public/images/content/main-img01.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img02.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img03.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img04.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img05.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img06.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img07.png" alt="" /></span></div>
								<div class="col"><span><img src="/public/images/content/main-img08.png" alt="" /></span></div>
							</div>
						</div>
					</div>
					<!-- //Maintenance -->
				</div>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //container 본문-->
