	<!-- skipToContent -->
	<div id="skipToContent">
		<a href="#container">본문으로 바로가기</a>
		<a href="#main-gnb">메뉴 바로가기</a>
	</div>
	<!-- //skipToContent -->
	<div class="allwrap">
		<!-- header 상단 -->
		<div class="header-area">
			<div class="section">
				<header id="header" class="header">
					<!-- logo -->
					<h1 class="logo-area"><a href="/" class="logo"><span><%=title%></span></a></h1>
					<!-- //logo -->

					<!-- 메인메뉴 -->
					<nav class="main-gnb" id="main-gnb">
						<h2 class="skip">메인메뉴</h2>
						<ul><%-menu%></ul>
					</nav>

					<a href="javascript:;" class="btn-main-menu" id="btn-main-menu"><span class="skip">메인메뉴열기</span></a>
				</header>
			</div>
		</div>
		<!-- //header 상단 -->