@charset 'utf-8';

/* layout */
html, body{width:100%;position:relative;z-index:1;}
.ie8 body{min-width:74em}
.ie7 body{overflow-x:hidden;}
body.no{overflow:hidden}
.allwrap{width:74em;z-index:2;margin:0 auto}
.header, .container, .footer{position:relative;z-index:1;}
.content{min-height:60em}
.section{position:relative;width:60em;margin:0 auto;}
.container{overflow:hidden;}
.blind{display:none;position:fixed;z-index:999;left:0;top:0;right:0;bottom:0;background:url(../images/common/bg_black50.png)}
.blind.is-active{display:block;}
.loading{text-indent:-999px;overflow:hidden;width: 100%;height: 100%;top: 0;left: 0;position: fixed; background:#fff url(../images/common/ajax-loader.gif) center no-repeat; z-index: 1000;}

.b_line_gray{border-bottom:1px solid #d4d4d4}
.t_line_black{border-top:1px solid #000}
.t_line_blue{border-top:1px dotted #0074de}
.b_line_blue{border-bottom:2px solid #0074de}

/* header */
	.header .logo {display:block;width:22em;margin:0 auto;}
	.header .logo span{overflow:hidden;text-indent:-999px;display: block;height:6em;background:url(../images/common/logo.png) center no-repeat;background-size: auto 6em;}
	.header .text{text-align: center}
	.header .text span{color:#444444;font-weight: bold;font-size:0.9em;letter-spacing: .1em}
	.header-title{text-align: center}	
	.header-title span{font-size:1.6em;color:#000;font-weight: bold;letter-spacing: .1em}

	.global-gnb{position:absolute;right:0;top:0}
	.global-gnb a span{color:#5caa22;font-size:0.7em}

/* footer */
	.footer-logo{color: #000}
	.copyright{font-size:0.9em;color:#858585}
	.footer-address p{font-size: 0.8em;line-height: 1.3em}

/* container */
	.main-title{position: relative;text-align: center;padding:1em 0;}
	.main-title span{display:inline-block;font-size:1.5em;color:#0074de;font-weight: bold}
	.main-title.b_line:after{content:'';display:block;position: absolute;bottom:0;left:8em;right:8em;height:2px;background:#666666}

	.sub-title{padding:.5em 0}
	.sub-title span{color:#000;font-size:0.9em;font-weight: bold}
	.sub-title.big span{font-size:1.2em}
	.sub-title.bigger span{font-size:1.5em}

	.login-module .inner{width:30em;margin:0 auto;padding-left:1em;padding-right: 1em}
	.login-module .login-sign{position: relative;padding-right:10em;}
	.login-module .login-sign .text{display: block;line-height: 3em;}	
	.login-module .login-sign .text span{font-size:0.9em;color:#000}	
	.login-module .login-form{position: relative;padding-right: 10em}
	.login-module .btn-signup{position:absolute;top:0;right:0;width:9em;display:block;line-height:3em;text-align: center;background:#0074de}
	.login-module .btn-signup span{display:inline-block;position: relative;top:-3px; color:#fff;font-size: 0.9em;}
	.login-module .btn-login{position:absolute;top:0;right:0;width:9em;display:block;line-height:6.5em;text-align: center;background:#1b3954}
	.login-module .btn-login span{display:inline-block;position: relative;top:-3px; color:#fff;font-size: 0.9em;}
	.login-module input{width:100%;box-sizing: border-box;height:3em}

	.find-form .btn-find{position:absolute;top:0;right:0;width:9em;display:block;line-height:6.5em;text-align: center;background:#000}
	.find-form .btn-find span{display:inline-block;position: relative;top:-3px; color:#fff;font-size: 0.9em;}
	.find-form input{width:100%;box-sizing: border-box;height:3em}
	.find-form{position: relative;padding-right:10em}

	/* register-module */
	.register-module .inner{padding:1em 8em}
	.select-area{position: relative;padding-bottom:1.5em;padding-top:1em}
	.select-area:after{content:'';position: absolute;left:-8em;right:-8em;display: block;height:1px;bottom:0;background:#77b5ed}
	.select-area:before{content:'●';color:#77b5ed;position: absolute;left:-8.5em;bottom:-.45em;line-height: 1em}
	.select-area .select-label{font-size: 0.8em;color:#444444;line-height: 2.5em}
	.select-area .select-box select{box-sizing: border-box;width:100%;height:3em;font-size:0.85em}
	.select-category label{display:inline-block;padding-right:1em}
	.select-category .input-area{position:relative;padding-left:26em}
	.select-category .input-area label{display:block;width:26em;position:absolute;left:0;top:0;line-height:2.6em}
	.select-category .input-area input{box-sizing:border-box;height:2.6em}
	.noti{line-height:2em;color:#ec7474;font-size:0.95em}

	/* scroll-area */
	.scroll-area .scroll-content{min-height:3.5em;max-height:18em;overflow-y: auto}
	.agree-area span{font-size:0.85em;color:#0074de;display: inline-block}

	/* list-input-module */
	.list-input-module{border:2px solid #0074de}
	.list-input-module .row{position: relative;padding-left:8em;border-top: 1px dotted #00b5de}
	.list-input-module .row:first-child{border-top: 0}	
	.list-input-module .row .tit{position: absolute;left:0;top:50%;line-height: 1em;margin-top:-.5em;width:8em;text-align:center}
	.list-input-module .row .tit label{font-size:0.9em;color:#000}
	.list-input-module .row .cont{padding:2em 6em 2em 0}
	.list-input-module .row .cont input{display: block;width:100%;box-sizing: border-box;height:2.6em;font-size:0.9em}
	.list-input-module .add-input .text{display:inline-block;padding:1.5em 2em;line-height: 2em;vertical-align: middle}
	.list-input-module .add-input .text strong{color:#0074de;font-size:1.5em;}
	.list-input-module .add-input .add-button{display: inline-block;padding:1.5em 0}
	.btn-add{padding-left:2.6em;position: relative;display: inline-block;line-height:2em;vertical-align: middle}
	.btn-add span{line-height: 2em;font-size:0.9em;color:#444}
	.btn-add:after{content:'';display: block;width:2em;height:2em;position: absolute;left:0;top:50%;margin-top:-1em;background:#0074de url(../images/common/icon-add.png) center no-repeat;background-size: 2em auto}

	/* item-list */
	.item-list {border:2px solid #0074de;padding:0 2em;}
	.item-list .row{color:#000;border-top:1px dotted #0074de}
	.item-list .row::after{content:'';display: block;clear: both}
	.item-list .row:first-child{border-top:0}
	.item-list .row .tit{float:left;width:50%;padding:1em;}
	.item-list .row .tit span{display: inline-block}
	.item-list .row .cont{float:right;width:40%;padding:1em;text-align: right}

	/* list-A */
	.list-A.text12 li{font-size:0.8em}
	.list-A li:after{position:absolute;left:0;top:1px;content:'-';display: block;width:1em;line-height: 1em;text-align: center;}
	.list-A li{position: relative;padding-left:1em;}

	/* total-amount */
	.total-amount{border-bottom:2px solid #000}
	.total-amount:after{content:'';display: block;clear: both}
	.total-amount .tit{float:left;width:30%;padding:2em}
	.total-amount .tit span{display: inline-block;font-size: 2em;font-weight: bold;color:#000}
	.total-amount .cont{float:right;width:40%;padding:2em;text-align: right}
	.total-amount .cont span{display: inline-block;font-size: 2em;font-weight: bold;color:#000}
	.total-amount .cont span.c_red{color:red}

	/* table */
	.tbl-A{position:relative;border:2px solid #000}
	.tbl-A table{font-size:0.8em}
	.tbl-A table tbody th{border-bottom:1px solid #c2c2c2;border-right:2px solid #000;background:#f3f2ee;color:#444;padding:1em;font-weight:normal;text-align:right}
	.tbl-A table tbody td{border-bottom:1px solid #c2c2c2;padding:1em 1.5em}
	.tbl-A table tbody td.center{text-align:center}
	.tbl-A table tbody th.bg_01{background:#00b5de;color:#fff}
	.tbl-A table label{display: inline-block;padding-right:1em}

	.tbl-B{position: relative;border:2px solid #0074de}
	.tbl-B thead tr th{height:2em;font-weight:normal;border-bottom:2px solid #444444;background: #2990cb;color: #fff;border-left:1px dotted #000}
	.tbl-B thead tr th:first-child{border-left:0}
	.tbl-B tbody tr td{padding:1em;text-align: center;border-left:1px dotted #000}
	.tbl-B tbody tr td:first-child{border-left:0}

	.tbl-C{position:relative;border:2px solid #000}
	.tbl-C table thead th{border-bottom:1px solid #0074de;border-left:2px solid #000;color:#0074de;padding:1em;font-size:1.1em;letter-spacing: 1px}
	.tbl-C table thead th:first-child{border-left:0}
	.tbl-C table tbody td{border-top:1px solid #0074de;border-left:2px solid #000;padding:.5em;text-align: center}
	.tbl-C table tbody td.left{text-align: left;font-size:0.9em}	
	.tbl-C table tbody td:first-child{border-left:0}	
	.tbl-C table input[type="text"]{box-sizing: border-box;width:100%;line-height: 3em}
	.tbl-C table tbody td.center{text-align:center}
	.tbl-C table tbody th.bg_01{background:#00b5de;color:#fff}
	.tbl-C table label{display: inline-block;padding-right:1em}
	.tbl-C table tfoot td{border-top:2px solid #0074de;font-weight:bold;border-left:2px solid #000;background:#fbf5e4;font-size:1.5em;color:#0074de;padding:1em;text-align: center}
	.tbl-C table tfoot td:first-child{border-left:0}
	.tbl-C table .c_red{color:red}
	.tbl-C.c_blue table thead th{color:#000;background:#d6e9fa}
	.tbl-C table{font-size:0.9em}

	.tbl-D{position: relative;border:2px solid #0074de}
	.tbl-D table{color:#252525}
	.tbl-D thead tr th{height:3.4em;font-weight:normal;border-bottom:2px solid #0074de;background: #3390e5;color: #fff;border-left:2px solid #0074de}
	.tbl-D thead tr th:first-child{border-left:0}
	.tbl-D tbody tr td{padding:1em .5em;text-align: center;border-left:2px solid #0074de;font-size:0.85em;border-top:1px solid #0074de;}
	.tbl-D tbody tr td:first-child{border-left:0}
	.tbl-D tbody tr td label{padding:0 .5em;display: inline-block}

	.tbl-E{border-top:2px solid #000;border-bottom:2px solid #000}
	.tbl-E.c_blue{border-top-color:#82b1dd;border-bottom-color:#82b1dd}
	.tbl-E table{font-size:0.9em}
	.tbl-E tbody th{height:3em;font-weight:bold;border-top:1px solid #444;background:#fff5dd;color:#000;border-right: 1px dotted #000}
	.tbl-E tbody td{padding:.5em 1em;color:#000;border-top:1px solid #444;}
	.tbl-E.c_blue tbody th , .tbl-E.c_blue tbody td{border-top-color:#c1c1c1}
	.tbl-E tbody tr:first-child th{border-top:0}
	.tbl-E tbody tr:first-child td{border-top:0}	
	.tbl-E.c_blue tbody th{background:#eef7ff;color:#000}

	.tbl-F tbody td{padding:1em;border:2px solid #3390e5;font-size:0.9em}
	.tbl-F tbody th{border:2px solid #3390e5;text-align: left;padding:1.2em 2em;color:#0074de;font-weight: normal}
	.tbl-F thead th{border:2px solid #3390e5;text-align: left;padding:1em 2em 1.4em;}
	.tbl-F thead th span{vertical-align: middle}
	.tbl-F thead th strong{vertical-align: middle}

	.tbl-register .col1{width:16em}
	.tbl-order .col1{width:55%}

	.tbl-checkout .col1{width:5em}
	.tbl-checkout .col2{width:12em}
	.tbl-checkout .col4{width:12em}

	.tbl-card .col1{width:10em}
	.tbl-bank .col1{width:10em}

	.tbl-mypage .col1{width:16em}

	/* button */
	.button-right{text-align: right}
	.button-center{text-align: center}
	.button-area{position: relative;}
	.button-area .notice{position: absolute;left:0;top:1em;line-height: 2em}
	.button-area .notice span{color:#0074de;font-weight: bold}

	a[class^="btn-"], button[class^="btn-"], input[class^="btn-"]{display: inline-block;}
	.btn-middle{width:12em;padding:.5em 0} 
	.btn-middle span{position:relative;top:-2px}
	.btn-small{width:9.5em;padding:0.6em 0} 
	.btn-reg{width:5em;line-height:1.8em;padding:0.4em;}	
	.btn-review{width:6em;line-height:1.4em;padding:0.2em 0;border-radius:3px}	
	.btn-font-big{font-size:1.12em}
	.btn-font-small{font-size:0.9em}

	.btn-round{border-radius: 3em}
	.btn-A{background:#000;color:#fff;text-align: center;}
	.btn-A:hover{color:#fff;}	
	
	.btn-B{background:#595959;color:#fff;text-align: center}
	.btn-B:hover{color:#fff;}	

	.btn-C{background:#0074de;color:#fff;text-align: center}
	.btn-C:hover{color:#fff;}	

	.btn-D{background:#6d7886;color:#fff;text-align: center;border:1px solid #eee}
	.btn-D:hover{color:#fff;}	

	.btn-E{background:#e45430;color:#fff;text-align: center}
	.btn-E:hover{color:#fff;}	

	.btn-F{background:#255f95;color:#fff;text-align: center;}
	.btn-F:hover{color:#fff;}

	/* alert-module */
	.alert-module{opacity:0;position: absolute;z-index:-1;width:40em;top:-1000em;left:50%;margin-left:-20em;transition:opacity .3s;-webkit-transition:opacity .3s}
	.alert-module.bigger{width:50em;margin-left:-25em}
	.alert-module.is-active{opacity:1;z-index:1000;top:20%;transition:opacity .3s;-webkit-transition:opacity .3s}
	.alert-module .inner{padding:2em 6em 3em;border:3px solid #000;background: #fff}
	.alert-module .inner.c_red{border-color:#ff0000}
	.alert-module .title{padding-left:1em;background: url(../images/common/blit-A.png) left 50% no-repeat;}
	.alert-module .title span{color:#000;font-size:1.2em}
	.alert-module .btn-alert-close{position: absolute;right: 1em;top:1em;width:2em;height:2em;display: block;background: url(../images/common/icon-close.png) center no-repeat;overflow: hidden;text-indent: -999px}
	.alert-module .alert-title{text-align: center}
	.alert-module .alert-title.c_red{color:#ff0000}
	.alert-module .alert-title.c_blue{color:#0074de}	
	.alert-module .alert-title span{font-size:1.2em;font-weight: bold}
