	<div id="loading" class="loading">loading..</div>
	<!-- skipToContent -->
	<div id="skipToContent">
		<a href="#container">본문으로 바로가기</a>
		<a href="#main-gnb">메뉴 바로가기</a>
	</div>
	<!-- //skipToContent -->
	<div class="allwrap">
		<!-- header 상단 -->
		<div class="header-area">
			<div class="section">
				<header id="header" class="header">
					<!-- logo -->
					<h1 class="logo-area">
						<a href="/admin/" class="logo"><%=title%></a><span>Administrator</span>
					</h1>
					<!-- //logo -->
					<!-- admin-main-area -->
					<nav class="admin-main-area">
						<ul class="clear">
							<li><a href="/admin/member/list"><span>회원 관리</span></a></li>
							<li><a href="/admin/register/list"><span>등록 관리</span></a></li>
							<li><a href="/admin/accomodation/list"><span>숙박 관리</span></a></li>
							<li><a href="/admin/tourism/list"><span>관광 관리</span></a></li>
							<li><a href="/admin/statistics/person"><span>등록인원 통계</span></a></li>
							<li><a href="/admin/statistics/register"><span>등록비 통계</span></a></li>
							<li><a href="/admin/statistics/accomodation"><span>숙박 통계</span></a></li>
							<li><a href="/admin/statistics/tourism"><span>관광 통계</span></a></li>	
						</ul>
					</nav>
					<!-- //admin-main-area -->
				</header>
			</div>
		</div>
		<!-- //header 상단 -->