@charset "utf-8";
/* 본고딕 */
@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: normal;
	src: local(※), local(NotoSansKR), local('Noto Sans KR');
	src: url('../fonts/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSansKR-Regular.woff') format('woff'),
		 url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Regular.ttf') format('truetype');
}
@font-face {
	font-family: "NotoSansKR";
	font-style: normal;
	font-weight: bold;
	src: local(※), local(NotoSansKR), local('Noto Sans KR');
	src: url('../fonts/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NotoSansKR-Bold.woff') format('woff'),
		 url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
		 url('../fonts/NotoSansKR-Bold.ttf') format('truetype');
}
/**** reset.css ****/
	html,body, div,p,h1,h2,h3,h4,h5,h6,input,button,textarea,select,table,ul,ol,li,dl,dt,dd,label,a,strong{margin:0;padding:0;}
	body, a, input, button, select, p,h1,h2,h3,h4,h5,h6,textarea,select{font-weight:400;font-family:"NotoSansKR",'Nanum Gothic','나눔 고딕','Malgun Gothic','돋움','sans-serif';font-size:1em;line-height:1.2em;color:#666666;}
	span, strong{line-height: 1em}
	table{width:100%;table-layout:fixed;border-collapse: collapse;border-spacing: 0;}
	legend {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
	address,em{font-style:normal}
	img,fieldset,iframe{border:0;padding:0;margin:0}
	img,input,select,button,textarea{vertical-align:middle;}
	label,button,input[type="button"],input[type="submit"]{cursor:pointer;border:0;outline:0;}
	input{display:inline-block;*display:inline;border:0;}
	button{display:inline-block;*display:inline;padding:0;margin:0;border:0;cursor:pointer;vertical-align:middle;overflow:visible;background:transparent;outline: none;}
	button::-moz-focus-inner,input::-moz-focus-inner, button:active{}
	select, button{box-sizing: content-box;}
	hr{display:none;}

	a{text-decoration:none;color:#666666;vertical-align:middle}
	a:hover{text-decoration:none;color:#555}
	a:selected, a:visited {outline: none}
	a:active, a:focus {}

	/* hidden contents */
	.skip, .hidden, .commonH{position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1;}

	/*clear*/
	.clearfix:after{content:'';display:block;clear:both;}
	.clearfix{*zoom:1}
	.clear{margin:0;padding:0;list-style:none;}

	/* float */
	.clearfix .float_l{float:left;}
	.clearfix .float_r{float:right;}
	.clearfix .float_n{clear:both;}

	/*ellipsis*/
	.ellipsis{display:block;width:100%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}

	/* skipToContent */
	#skipToContent {position:absolute;top:0;height:0px;width:100%;z-index:1000;}
	#skipToContent a {display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; text-align:center;color:#fff;white-space:nowrap;;}
	#skipToContent a:focus, #skipToContent a:active {display:block;top:0;width:100%;height:30px;line-height:30px;background:#555;color:#eee;}

	/*form&input base style*/
	input[type='text'], input[type='password'], input[type='file']{height:1.8em;line-height:1em;padding:0.4em;border:1px solid #cbcbcb;background:#fff;width:10em}
	input[type="button"]{width:auto;padding:0.2em 1em;border:0;box-sizing:content-box;}
	.ie8 input[type='text']{line-height:1.8em}
	input[size="100"]{width:98%}
	input[size="80"]{width:80%}
	input[size="30"]{width:30em}
	input[size="20"]{width:20em}
	input[size="15"]{width:15em}
	input[size="10"]{width:10em}
	input[size="5"]{width:5em}
	input[type="file"]{padding:0}
	input::-webkit-input-placeholder { color: #d6d0db;}
	input::-moz-placeholder { color: #d6d0db;}
	input::-ms-input-placeholder { color: #d6d0db;}
	input::-moz-placeholder { color: #d6d0db;}

	input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"]{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;} /* 모바일 라운드 제거 */

	textarea{display:block;border:1px solid #cbcbcb;padding:0.4em;box-sizing:content-box}
	textarea[size="100"]{width:98%}
	textarea::-webkit-input-placeholder { color: #d6d0db;}
	textarea::-moz-placeholder { color: #d6d0db;}
	textarea::-ms-input-placeholder { color: #d6d0db;}
	textarea::-moz-placeholder { color: #d6d0db;}

	select{height:1.8em;line-height:1em;padding:0.4em;margin:0;border:1px solid #cbcbcb;color:#666666;background:transparent;}
	.ie8 select{height:1.8em;line-height:1.8em;}
	.ie7 select{height:2.2em}
	select[width="5"]{width:5em}
	select[width="10"]{width:10em}
	select[width="15"]{width:15em}
	select[width="20"]{width:20em}
	select[width="30"]{width:30em}


/* 공통요소 */
	.m_data{display:none !important;}
	.pc_data{display:block !important;}
	.break{word-break:break-all;}
	.bold{font-weight:bold}
	.br{display:block}
	@media ( max-width: 768px ) {
		.m_data{display:block !important;}
		.pc_data{display:none !important;}
	}

	/* padding & margin */
	.pt5{padding-top:.5em;}
	.pt10{padding-top:1em;}
	.pt15{padding-top:1.5em;}
	.pt20{padding-top:2em;}
	.pt25{padding-top:2.5em;}
	.pt30{padding-top:3em;}
	.pt35{padding-top:3.5em;}
	.pt40{padding-top:4em;}
	.pt45{padding-top:4.5em;}
	.pt50{padding-top:5em;}
	.pb5{padding-bottom:.5em;}
	.pb10{padding-bottom:1em;}
	.pb20{padding-bottom:2em;}
	.pb30{padding-bottom:3em;}
	.pb40{padding-bottom:4em;}
	.pb50{padding-bottom:5em;}
	.pr5{padding-right:.5em;}
	.pl5{padding-left:.5em;}
	.pr10{padding-right:1em;}
	.pl10{padding-left:1em;}
	.mt5{margin-top:.5em;}
	.mt10{margin-top:1em;}
	.mt15{margin-top:1.5em;}
	.mt20{margin-top:2em;}
	.mt25{margin-top:2.5em;}
	.mt30{margin-top:3em;}
	.mt35{margin-top:3.5em;}
	.mt40{margin-top:4em;}
	.mt45{margin-top:4.5em;}
	.mt50{margin-top:5em;}

	.mb5{margin-bottom:.5em;}
	.mb10{margin-bottom:1em;}
	.mb20{margin-bottom:2em;}
	.mb30{margin-bottom:3em;}
	.mb40{margin-bottom:4em;}
	.mb50{margin-bottom:5em;}
	.mr5{margin-right:.5em;}
	.ml5{margin-left:.5em;}
	.mr10{margin-right:1em;}
	.ml10{margin-left:1em;}
	.mr20{margin-right:2em;}
	.ml20{margin-left:2em;}

	/* colum */
	.col-row{*zoom:1}
	.col-row:after{content:'';display:block;clear:both}
	.col-row > div[class^="col-"]{float:left;}
	.col-row > div[class^="col-"].right{float:right}
	.col-row > li[class^="col-"]{float:left;}
	@media ( max-width: 768px ) {
		.col-row > div[class^="col-"]{float:none;}
		.col-row > div[class^="col-"].right{float:none}
		.col-row > li[class^="col-"]{float:none;}
	}
	.col-row .col-12{width:100%}
	.col-row .col-11{width:91.6%}
	.col-row .col-10{width:83.3%}
	.col-row .col-9{width:75%}
	@media ( max-width: 768px ) {
		.col-row .col-9{width:auto}
	}
	.col-row .col-8{width:66.6%}
	@media ( max-width: 768px ) {
		.col-row .col-8{width:auto}
	}
	.col-row .col-7{width:58.3%}
	@media ( max-width: 768px ) {
		.col-row .col-7{width:auto}
	}
	.col-row .col-6{width:50%}
	@media ( max-width: 768px ) {
		.col-row .col-6{width:auto}
	}
	.col-row .col-5{width:41.6%}
	@media ( max-width: 768px ) {
		.col-row .col-5{width:auto}
	}
	.col-row .col-4{width:33.3%}
	.col-row .col-4:first-child{width:33.4%}
	@media ( max-width: 768px ) {
		.col-row .col-4{width:auto;}
		.col-row .col-4:first-child{width:auto;}
	}

	.col-row .col-3{width:25%}
	@media ( max-width: 768px ) {
		.col-row .col-3{width:auto}
	}

	.col-row .col-2{width:16.6%}
	.col-row .col-2:first-child{width:16.7%}
	@media ( max-width: 768px ) {
		.col-row .col-2{width:auto}
		.col-row .col-2:first-child{width:auto}
	}
	.col-row .col-1{width:8.3%}
	.col-row .col-1:first-child{width:8.337%}
	@media ( max-width: 768px ) {
		.col-row .col-1{width:auto}
		.col-row .col-1:first-child{width:auto}
	}

	/* ui-datepicker */
	.ui-datepicker {position:absolute;z-index:300 !important;width:18em;padding:1em;display: none;background:#fff;border:1px solid #ccc;box-shadow:0 0 1em #666}
	.ui-datepicker.ui-corner-all{border-radius:.5em;}
	.ui-datepicker .ui-datepicker-title{margin:0 1em}
	.ui-datepicker-trigger{border:1px solid #eee;border-radius:.5em;background:#efefef;height:3em;padding:0 .5em}
	img.ui-datepicker-trigger{border:0;border-radius:0px;background:transparent;height:auto;padding:0em}

	.ui-datepicker .ui-datepicker-header {position: relative;padding: .2em 0;}
	.ui-datepicker .ui-datepicker-prev,
	.ui-datepicker .ui-datepicker-next {position:absolute;top:50%;margin-top:-0.9em;width:1.8em;height: 1.8em;text-indent:-99999px;border-radius:.5em}
	.ui-datepicker .ui-datepicker-prev {left:0px;background:#aaa url(images/datepicker_prev.png) 50% 50% no-repeat;background-size:1em auto}
	.ui-datepicker .ui-datepicker-prev-hover.ui-state-hover{background-color:#666}
	.ui-datepicker .ui-datepicker-next {right:0px;background:#aaa url(images/datepicker_next.png) 50% 50% no-repeat;background-size:1em auto}
	.ui-datepicker .ui-datepicker-next-hover.ui-state-hover{background-color:#666}
	.ui-datepicker .ui-datepicker-prev span,
	.ui-datepicker .ui-datepicker-next span {overflow:hidden;display: block;position: absolute;left: 50%;margin-left: -8px;top: 50%;margin-top: -8px;}
	.ui-datepicker .ui-datepicker-title {margin: 0 2.3em;line-height: 1.8em;text-align: center;}

	.ui-datepicker select{vertical-align:middle;height:1.6em;line-height:1em;padding:.3em .4em;margin:0 1px;border-radius:.5em;width: 40%;}
	.ui-datepicker table {width: 100%;font-size: .9em;border-collapse: collapse;margin: 0 0 .4em;}
	.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;}
	.ui-datepicker td {border: 0;padding: 1px;}
	.ui-datepicker td.ui-datepicker-unselectable{background:#efefef}
	.ui-datepicker td span,.ui-datepicker td a {display: block;padding: .2em;font-size:1em;text-align: center;text-decoration: none;}
	.ui-datepicker .ui-datepicker-buttonpane {*zoom:1;padding-top:.3em;border-left: 0;border-right: 0;border-bottom: 0;}
	.ui-datepicker .ui-datepicker-buttonpane:after{display:block;clear:both;content:''}
	.ui-datepicker .ui-datepicker-buttonpane button {float: right;cursor: pointer;width: auto;overflow: visible;height:2em;padding:0 1em;vertical-align:middle;border:1px solid #ccc;border-radius:3px}
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float: left;}
	.ui-datepicker .ui-state-hover{background-color:#efefef;border-radius:.5em}
	.ui-datepicker .ui-state-active{background-color:#ffbcbc;border-radius:.5em}
	.ui-datepicker .ui-state-highlight{background-color: #fffa90; color: #000;border-radius:.5em}
	@media ( max-width: 768px ) {
		.ui-datepicker{font-size:0.86em}
	}

	/* with multiple calendars */
	.ui-datepicker.ui-datepicker-multi {width: auto;}
	.ui-datepicker-multi .ui-datepicker-group {float: left;}
	.ui-datepicker-multi .ui-datepicker-group table {width: 95%;margin: 0 auto .4em;}
	.ui-datepicker-multi-2 .ui-datepicker-group {width: 50%;}
	.ui-datepicker-multi-3 .ui-datepicker-group {width: 33.3%;}
	.ui-datepicker-multi-4 .ui-datepicker-group {width: 25%;}
	.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width: 0;}
	.ui-datepicker-multi .ui-datepicker-buttonpane {clear: left;}
	.ui-datepicker-row-break {clear: both;width: 100%;font-size: 0;}

	/* ui-tooltip */
	.ui-tooltip {padding: 8px;position: absolute;z-index: 9999;max-width: 300px;}
	.ui-widget-content {border: 1px solid #dddddd;background: #ffffff;color: #333333;}
	.ui-widget-content a {color: #333333;}

	/* Corner radius */
	.ui-corner-all{border-radius: 3px;}

	/* Layout helpers */
	.ui-helper-hidden {display: none;}
	.ui-helper-hidden-accessible {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
	.ui-helper-reset {margin: 0;padding: 0;border: 0;outline: 0;line-height: 1.3;text-decoration: none;font-size: 100%;list-style: none;}

	/* load motion */
	.n-motion {
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
		transition-property: all; 
		-webkit-transition-property: all; 
		transition-duration: 0.6s;
		-webkit-transition-duration: 0.6s;
	}
	.n-motion.n-motion-3{transition-duration: 0.3s;}

	.n-delay1 {transition-delay: 0.1s;}
	.n-delay2 {transition-delay: 0.2s;}
	.n-delay3 {transition-delay: 0.3s;}
	.n-delay4 {transition-delay: 0.4s;}
	.n-delay5 {transition-delay: 0.5s;}
	.n-delay6 {transition-delay: 0.6s;}
	.n-delay7 {transition-delay: 0.7s;}
	.n-delay8 {transition-delay: 0.8s;}
	.n-delay9 {transition-delay: 0.9s;}

	.n-motion.n-left   {
		transform: translateX(-50px);
		-webkit-transform:translateX(-50px);
	}
	.n-motion.n-right  {
		transform: translateX(50px);
		-webkit-transform:translateX(50px);
	}
	.n-motion.n-top    {
		transform: translateY(-50px);
		-webkit-transform:translateY(-50px);
	}
	.n-motion.n-bottom {
		transform: translateY(50px);
		-webkit-transform:translateY(50px);
	}
	.n-motion.n-spin   {
		transform: rotate(180deg);
		-webkit-transform:rotate(180deg);
	}
	.n-motion.n-active {opacity: 1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	.n-motion.n-left.n-active   {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
	.n-motion.n-right.n-active  {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
	.n-motion.n-top.n-active    {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	.n-motion.n-bottom.n-active {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	.n-motion.n-spin.n-active   {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	
	/* text-area */
	.text-area p{color:#666666;}
	.text-area li{color:#666666;}

	.text-area.lh16 p{line-height:1.6em}
	.text-area.lh18 p{line-height:1.8em}
	.text-area.lh20 p{line-height:2em}

	.text-area .text-right{text-align:right}
	.text-area .text-left{text-align:left}
	.text-area .text-center{text-align:center}

	.text-area .c_blue{color:#357ecf}
	.text-area .c_black{color:#000}
	.text-area .c_red{color:#db0000}
	.text-area .c_gray{color:#999999}
	.text-area .c_dark_blue{color:#087aa3}
	.text-area .c_purple{color:#6674e3}
	.text-area .c_pink{color:#e57e7a}
	.text-area .f_normal{font-weight:normal}
	.text-area .f_bold{font-weight:bold}
	.text-area .t_upper{text-transform:uppercase}

	.text-area .text48{font-size:3em;}
	.text-area .text42{font-size:2.65em;}
	.text-area .text36{font-size:2.25em;}
	.text-area .text30{font-size:1.875em;}
	.text-area .text28{font-size:1.75em;}
	.text-area .text24{font-size:1.5em;}
	.text-area .text20{font-size:1.25em;}
	.text-area .text18{font-size:1.125em;}
	.text-area .text14{font-size:0.875em;}
	.text-area .text15{font-size:0.9375em;}
	.text-area .ls1{letter-spacing:-1px}
	.text-area .ls2{letter-spacing:-2px}

	.img-area.img-center{text-align:center}
	.img-area.img-left{text-align:left}
	.img-area.img-right{text-align:right}
	.img-area img{max-width:100%}

	/* tab */
	div[class^="tab_"].col-3 > ul > li{width:33.3%}
	div[class^="tab_"].col-3 > ul > li:first-child{width:33.4%}
	div[class^="tab_"].col-4 > ul > li{width:25%}
	div[class^="tab_"].col-5 > ul > li{width:20%}

	.tab_A{margin-left:1px}
	.tab_A > ul > li {position:relative;float:left;width:25%}
	.tab_A > ul > li > a {margin-left:-1px;margin-top:-1px;display:block;padding:.7em 1em;line-height:1.2em;text-align:center;font-size:1.06em;background:#fff;color:#555555;border:1px solid #d3d3d3;}
	.tab_A > ul > li.on:after{content:'';display:block;position:absolute;right:0;top:0;height:2px;left:0;background:#2a7adc}
	@media screen and (max-width: 1024px) {
		.tab_A{font-size:0.9em}
		.tab_A > ul > li{width:50%;}
		.tab_A > ul > li > a{display:block;width:auto;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}
	}
	.tab-content{height:0;overflow:hidden;}
	.tab-content.on{height:auto;}