@charset 'utf-8';

/* layout */
html, body{width:100%;position:relative;z-index:1;}
.ie8 body{min-width:92em}
.ie7 body{overflow-x:hidden;}
body.no{overflow:hidden}
.allwrap{position:relative;min-width:90em;z-index:2}
.header, .container, .footer{position:relative;z-index:1;}
.content{min-height:60em}
.section{width:62em;margin:0 auto;position:relative;}
.container{overflow:hidden;}
.blind{display:none;position:absolute;z-index:1000;left:0;top:0;right:0;bottom:0;background:url(../images/common/bg_black50.png)}
.loading{text-indent:-999px;overflow:hidden;width: 100%;height: 100%;top: 0;left: 0;position: fixed; background:#fff url(../images/common/ajax-loader.gif) center no-repeat; z-index: 1000;}

/* header */
	.header{position: absolute;z-index:100;left:0;right:0;top:2em}
	.header .logo {position:absolute;left:0;top:0;}
	.header .logo span{overflow:hidden;text-indent:-999px;display: block;height:3em;width:16em;background:url(../images/common/logo.png) center no-repeat;background-size: auto 3em;}
	.btn-main-menu{position:absolute;right:0;top:0;width:3em;height:3em;background:url(../images/common/icon-menu.png) center no-repeat}

/* main-gnb */
	.main-gnb{padding-left:12em}
	.main-gnb ul{list-style:none;text-align:center}
	.main-gnb ul:after{content:'';display:block;clear:both}
	.main-gnb ul > li{display:inline-block;*display:inline;}
	.main-gnb ul > li > a{position:relative;display:block;line-height:3em;padding:0 1.5em}
	.main-gnb ul > li > a > span{color:#fff}
	.main-gnb ul > li.on > a > span{font-weight:bold;}
	.main-gnb ul > li > a:after{content:'';position:absolute;margin:0 auto;width:0;left:0;right:0;bottom:0;height:2px;background:#fff;transition:width .5s;-webkit-transition:width .5s}
	.main-gnb ul > li:hover > a:after{width:1em;transition:width .5s;-webkit-transition:width .5s}
	.main-gnb ul ul{display:none}

/* visual-area */
	.visual-area .visual-text{position: absolute;z-index:100;left:5em;right:5em;top:50%;margin-top:-6em;}
	.visual-area .visual-text .t_1:before{content:'';display:block;width:7em;height:7em;background:url(../images/main/visaul-img-logo.png) no-repeat;background-size:7em auto;margin:0 auto;margin-bottom:.5em;}
	.visual-area .visual-text .t_1 span{display:block;font-size:3em;line-height:1.2em;color:#fff;letter-spacing:-2px;text-transform:uppercase}
	.visual-area .visual-text .t_2 {padding-top:1em;color:#fff;line-height:1.4em}
	.visual-area .visual-img.active img{transform:scale(1.05);-webkit-transition: all 1.5s; /* Safari */transition: all 1.5s;}
	.visual-area .visual-img img{transform:scale(1);-webkit-transition: all 1.5s; /* Safari */transition: all 1.5s;}

	.visual-area{width:100%;position: relative;z-index:10}
	.visual-area ul li{overflow:hidden;text-align:center;overflow:hidden}
	.visual-area ul li img{max-width:100%}

	.visual-area .bx-pager{position:absolute;z-index:100;right:3em;top:50%;margin-top:-3em;text-align:center}
	.visual-area .bx-pager a{overflow:hidden;display:block;width:1em;height:1.5em;text-indent:-99999px;background-image:url(../images/common/off.png);background-size:auto 1em;background-repeat: no-repeat;background-position: center}
	.visual-area .bx-pager a.active{background-image:url(../images/common/on.png)}
	.visual-area .bx-loading {min-height: 50px;background: url(../images/common/ajax-loader.gif) center center no-repeat #fff;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
	.visual-area .bx-controls{position:relative;z-index:2000}
	.visual-area .bx-controls-direction a{position:absolute;z-index:1000;top:50%;height:3em;margin-top:-1.5em;width:3em;text-align:left;overflow:hidden;text-indent:-9999px}
	.visual-area .bx-controls-direction a.bx-prev{left:0}
	.visual-area .bx-controls-direction a.bx-next{right:0}
	.visual-area .bx-controls-direction a:hover{-webkit-transition: all .5s; /* Safari */transition: all .5s;}
	.visual-area .bx-wrapper .bx-viewport {
		position:relative;z-index:10;
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
		-ms-transform: translatez(0);
		-o-transform: translatez(0);
		transform: translatez(0);
	}


/* container */
	.main-title span{font-size:1.2em;color:#616161}

	/* main-section01 */
	.main-section01{}
	.main-section01 .main-cont01{float:left;width:48%}
	.main-section01 .main-cont02{float:right;width:46%}

	.link-list{margin-top:.5em}
	.link-list ul{overflow:hidden;}
	.link-list ul li{float:left;width:33.33%;}
	.link-list ul li:first-child a{border-left:0}
	.link-list ul li a{display:block;padding:1.5em 0 1em;color:#636363;border-left:1px solid #d8d8d8;transition:all .5s 0s;-webkit-transition:all .5s 0s;}
	.link-list ul li a:hover{color:#1b4894;transform:translateY(-.5em);transition:all .5s 0s;-webkit-transition:all .5s 0s;}
	.link-list ul li .icon:before{width:6em;height:6em;content:'';display:block;margin:0 auto;background-repeat:no-repeat;background-size:6em auto;background-position:center}
	.link-list ul li .icon.link-1:before{background-image:url(../images/main/icon-link-01.png);}
	.link-list ul li .icon.link-2:before{background-image:url(../images/main/icon-link-02.png);}
	.link-list ul li .icon.link-3:before{background-image:url(../images/main/icon-link-03.png);}
	.link-list ul li strong{display:block;font-weight:normal;text-align:center;padding-top:1em;}

	.project-list ul li{position:relative;padding-left:1em;margin:.2em 0}
	.project-list ul li:before{position:absolute;left:0;top:50%;content:'.';line-height:1em;margin-top:-.8em}
	.project-list ul li a{display:block;position:relative;color:#929292}
	.project-list ul li a span{display:block;font-size:0.87em;}
	.project-list ul li a span.cont{padding-right:8em;padding-top:.3em;padding-bottom:.3em}
	.project-list ul li a span.etc{position:absolute;right:0;top:50%;line-height:1em;margin-top:-.5em;width:8em}
	.project-list ul li a:hover span{color:#222}
	
	/* main-section02 */
	.main-section02{background:#f6f6f6}
	.gallery-main-list{}
	.gallery-main-list .inner:hover img{transform:scale(1.05);transition:all .5s 0s;-webkit-transition:all .5s 0s}
	.gallery-main-list .inner{overflow:hidden;position:relative;}
	.gallery-main-list .inner .link{position:absolute;z-index:100;left:0;right:0;bottom:0;top:0;background:rgba(0,0,0,0.2);}
	.gallery-main-list .inner:hover .link{background:none}
	.gallery-main-list .inner img{width:100%;transition:all .5s 0s;-webkit-transition:all .5s 0s}
	.gallery-main-list .inner .info{transition:all .5s 0s;-webkit-transition:all .5s 0s;transform:translateY(-12em);position:absolute;z-index:90;left:2em;right:2em;top:50%;margin-top:-4em;height:8em}
	.gallery-main-list .inner:hover .info, .gallery-main-list .inner:focus .info{transform:translateY(0em);transition:all .5s 0s;-webkit-transition:all .5s 0s}
	.gallery-main-list .inner .info span{display:block;color:#fff;text-align:center}
	.gallery-main-list .inner .info .tit{font-size:1.2em}
	.gallery-main-list .inner .info .date{position:absolute;z-index:90;left:0;right:0;bottom:0}
	.gallery-main-list .inner .info .date:after{content:'';position:absolute;z-index:90;left:50%;width:2em;margin-left:-1em;top:-1em;height:1px;background:#fff}

/* footer */
	.footer-area{padding:1em 0 5em;background:#191919}
	.footer-logo{display:block;text-indent:-999px;overflow:hidden;position:absolute;right:0;top:50%;height:5em;width:7em;margin-top:-2.5em;background:url(../images/common/f-logo.png?v=1) no-repeat;}
	.footer-gnb{display:none}
	.footer-gnb > ul > li{position:relative;display:inline-block;*display:inline;padding-left:1em;margin-right:.5em}
	.footer-gnb > ul > li:after{content:'';display:block;position:absolute;left:0;height:.8em;margin-top:-.4em;top:50%;width:1px;background:#fff;}
	.footer-gnb > ul > li:first-child{padding-left:0;border-left:0}
	.footer-gnb > ul > li:first-child:after{display:none;}
	.footer-gnb > ul > li > a{display:block;color:#fff;font-size:0.8em} 
	.footer-gnb > ul > li > ul{padding-top:2em}
	.footer-gnb > ul > li > ul > li{padding-bottom:.8em;}
	.footer-gnb > ul > li > ul > li > a{display:block;color:#838b8c;font-size:0.81em;text-transform: uppercase;}
	.footer-gnb > ul > li > ul > li:hover > a{color:#000}
	.footer-gnb > ul > li > a span{vertical-align: baseline;}

	.footer-address{}
	.footer-address address{}
	.footer-address address span{display:inline-block;line-height:1.8em;padding-right:.5em;color:#fff;font-size:0.7em;}

/* subpage */
	/* content-title */
	.content-title-01{padding-top:4em;padding-bottom:2em}
	.content-title-01 span{font-size:1.9em;color:#2f2f2f;font-weight:bold;text-transform:uppercase}
	.content-title-02 span{font-size:1.6em;color:#2f2f2f;font-weight:bold;text-transform:uppercase}
	.content-title-03 span{font-size:1.2em;color:#2f2f2f;text-transform:uppercase}

	/* content-visual-top */
	.content-visual-top{overflow:hidden;height:16.25em;position: relative;}
	.content-visual-top img{height:16.25em;position:absolute;left:50%;top:0;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
	.ie8 .content-visual-top img{margin-left:-50%}

	/* content-path */
	.content-path{border-bottom:1px solid #e2e2e2}
	.content-path ul li{float:left;padding:1em 0}
	.content-path ul li a{line-height: 1.5em;display:block;padding-left:1em;background:url(../images/common/deco-path-01.png) left 50% no-repeat;color:#c7c7c7;font-size:0.8em;vertical-align: baseline;}
	.content-path ul li strong{line-height: 1.5em;display:block;padding-left:1em;background:url(../images/common/deco-path-02.png) left 50% no-repeat;color:#858585;font-size:0.8em;font-weight:normal}
	.content-path ul li:first-child a{background:none;padding-left:0}

	/* img-section */
	.img-section-01{position:relative;overflow:hidden}
	.img-section-01 .col-left{width:53%;}
	.img-section-01 .col-left .col span{display:block;height:20em;}
	.img-section-01 .col-right{position:absolute;right:0;top:0px;bottom:0;width:47%;}
	.img-section-01 .col-right .col{float:left;overflow:hidden;margin-left: -1px;margin-top:-1px;width:50%}
	.img-section-01 .col-right .col span{display:block;border:1px solid #fff;height:10em;}

	.img-section-02{position:relative;overflow:hidden}
	.img-section-02 .col-top span{height:20em}
	.img-section-02 .col-top span img{height:100%}
	.img-section-02 .col-bottom{overflow:hidden;margin-left:-1px}
	.img-section-02 .col-bottom .col{float:left;width:25%;height:10em;overflow:hidden}
	.img-section-02 .col-bottom .col img{height:10em;}
	.img-section-02 .col-bottom .col span{text-align:center;display:block;border:1px solid #fff}
	
	.img-section-03 .col-all{overflow:hidden;;margin-left:1px}
	.img-section-03 .col-all .col{float:left;width:25%;overflow:hidden;margin-top:-1px;margin-left:-1px}
	.img-section-03 .col-all .col span{text-align:center;display:block;border:1px solid #fff;}
	.img-section-03 .col-all .col img{height:10em;}

	/* history-area */
	.history-area ol{margin-right:-6em;overflow:hidden;text-align: center;position: relative;}	
	.history-area ol:after{z-index:1;content:'';display:block;position: absolute;left:0;top:2em;right:8em;height:1px;background:#c7c7c7}
	.history-area ol li{position:relative;z-index:10;text-align: left;float:left;width:25%}
	.history-area ol li .year{margin-left:-.5em;background:#fff;display:inline-block;padding:0 .5em}
	.history-area ol li .year span{color:#51bbda;font-weight: 900;font-size:3.75em;letter-spacing:0}
	.history-area ol li .info{padding-top:1.5em;padding-right:3em}	
	.history-area ol li .info p{color:#666666;line-height: 2em;letter-spacing:-1px}

	/* address-area */
	.address-area ul li{margin-bottom:.8em;float:left;width:50%;position: relative;line-height: 1.2em}
	.address-area ul li .tit{position: absolute;left:0;line-height:1.2em;width:6em;top:0;color:#336699}
	.address-area ul li .txt{display: block;padding-left:6em}

	/* table */
	.tbl-A{position:relative;}
	.tbl-A table{font-size:0.95em}
	.tbl-A table caption{position:absolute;left:0;top:-3em;font-size:1em;color:#717171;display:block;padding:1em 0}
	.tbl-A table thead th{background:#c8c8c8;color:#fff;padding:.8em 0;font-weight:normal}
	.tbl-A table tbody td{border-bottom:1px solid #c8c8c8;padding:1em .5em}
	.tbl-A table tbody td.center{text-align:center}
	.tbl-upper table td{text-transform:uppercase}