	<!-- container 본문 -->
	<div class="container-area">
		<div class="content-visual-top"><img src="/public/images/content/cotnent-top-img01.png" alt="" /></div>
		<div id="container">
			<!-- content-path -->
			<div class="content-path">
				<div class="section">
					<h2 class="skip">현재위치</h2>
					<ul class="clear clearfix">
						<li><a href="">HOME</a></li>
						<li><strong>GALLERY</strong></li>
					</ul>
				</div>
			</div>
			<!-- //content-path -->
			<!-- content -->
			<div class="content" id="content">
				<div class="section ">
					<h2 class="content-title-01"><span>GALLERY</span></h2>
					<p class="content-title-01-text"><span>협통피엘티는 전력 및 에너지 산업 분야의 고객에게 혁신적인 솔루션을 제공합니다.</span></p>
					<div class="galleryView pt40 pb50">
					
						<div class="galleryView-top">
							<div class="title"><span>제목</span></div>
							<div class="txt"><span>Steel Plant (Tokyo Steel)</span></div>
						</div>
						<div class="galleryView-body">
							<div class="inner">
								<p class="pt10"><img src="/public/images/gallery/03/ga03-img01.jpg" alt=""></p>
								<p class="pt10"><img src="/public/images/gallery/03/ga03-img02.jpg" alt=""></p>
								<p class="pt10"><img src="/public/images/gallery/03/ga03-img03.jpg" alt=""></p>
								<p class="pt10"><img src="/public/images/gallery/03/ga03-img04.jpg" alt=""></p>
							</div>
						</div>
			
					
						<div class="galleryView-bottom right">
							<a href="/gallery/list.asp" class="btn-A"><span>목록</span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //container 본문-->

