
	<!-- footer 하단 -->
	<div class="footer-area t_line_black">
		<div class="section pb10">
		<footer class="footer" id="footer">
			<div class="footer-logo pt20"><strong>Organizing Secretariat of ICCV 2019</strong></div>
			<div class="footer-address pt10">
				<address>
				<p><span>513, Yeongdong-Daero, Gangnam-Gu, Seoul, 06164, Republic of Korea Tel. +82 2 6000 8187 </span></p>
				<p><span>E-mail: registration@iccv2019.kr Mon-Fri 9AM-6PM</span></p>
				<p class="pt50"><span class="copyright">© 2019 ICCV</span></p>
				</address>
			</div>
		</footer>
		</div>
	</div>
	<!-- //footer 하단 -->
</div><!--// wrap -->