	<div id="loading" class="loading">loading..</div>
	<!-- skipToContent -->
	<div id="skipToContent">
		<a href="#container">본문으로 바로가기</a>
		<a href="#main-gnb">메뉴 바로가기</a>
	</div>
	<!-- //skipToContent -->
	<div class="allwrap">
		<!-- header 상단 -->
		<div class="header-area b_line_gray">
			<div class="section pt5">
				<header id="header" class="header">
					<!-- logo -->
					<h1 class="logo-area">
						<a href="/" class="logo"><span><%=title%></span></a>
						<p class="text"><span>International Conf. on Computer Vision 2019 <br>
						Oct.27-Nov.2, 2019</span></p>
					</h1>
					<!-- //logo -->
					<!-- global-gnb -->
					<nav class="global-gnb" id="global-gnb">
						<a href=""><span>Login</span></a>
						<a href=""><span>Confirmation(my Page)</span></a>
					</nav>
					<!-- //global-gnb -->
					<h2 class="header-title pt30 pb10"><span>International Conf. on Computer Vision 2019 Registration</span></h2>
				</header>
			</div>
		</div>
		<!-- //header 상단 -->