	<!-- container 본문 -->
	<div class="container-area">
		<div class="content-visual-top"><img src="/public/images/content/cotnent-top-img01.png" alt="" /></div>
		<div id="container">
			<!-- content-path -->
			<div class="content-path">
				<div class="section">
					<h2 class="skip">현재위치</h2>
					<ul class="clear clearfix">
						<li><a href="">HOME</a></li>
						<li><strong>COMPANY</strong></li>
					</ul>
				</div>
			</div>
			<!-- //content-path -->
			<!-- content -->
			<div class="content" id="content">
				<div class="section">
					<h2 class="skip">COMPANY</h2>
					<!-- INTRODUCTION -->
					<div class="sub-content" id="sub01">
						<h3 class="content-title-01"><span>INTRODUCTION</span></h3>
						<div class="img-area">
							<img src="/public/images/content/company-img01.png" alt="협동사이크로 회사 사진" />
						</div>
						<div class="text-area pt20 lh20">
							<p>(주)협동싸이크로/피엘티는 50년간 산업 및 환경 사업에서 핵심 기술과 최고의 품질을 개발했습니다.</p>
							<p class="pt15">산업 부문은 발전소, 수자원 개발, 산업 플랜트 등에 적용되는 "감속기"제품 사업을 시장에서 높은 신뢰를 얻고 있습니다.</p>
							<p class="pt15">환경부는 VOC 솔루션 및 ION 교환기 시스템을 제공하는 UTNI를 대신하여 발전소 시장에서의 상업적 진흥을 책임지고 있습니다. 협동은 자체 사업 네트워크를 통해 발전소에서 상업적 판촉을 주도하고 있습니다.</p>
							<p class="pt15">또한 새로운 유지 보수 부서는 KOPEC, KEPCO와 함께 파이프 랩핑, 절연 커버 시트 솔루션과 같은 새로운 솔루션을 개발하고 있습니다.</p>
						</div>
					</div>
					<!-- //INTRODUCTION -->
					<!-- HISTORY -->
					<div class="sub-content pt20" id="sub02">
						<h3 class="content-title-01"><span>HISTORY</span></h3>
						<div class="history-area">
							<ol class="clear clearfix">
								<li class="first">
									<div class="inner">
										<div class="year"><span>2018</span></div>
										<div class="text-area info">
											<p>정비 사업 팀 영입 영업</p>
										</div>
									</div>
								</li>
								<li>
									<div class="inner">
										<div class="year"><span>2017</span></div>
										<div class="text-area info">
											<p>UTNI와 사업 제휴</p>
											<p>Hyupdong PLT (자회사) 설립</p>
										</div>
									</div>
								</li>
								<li>
									<div class="inner">
										<div class="year"><span>2010</span></div>
										<div class="text-area info">
											<p>연천 제 2 공장 설립</p>
										</div>
									</div>
								</li>
								<li class="last">
									<div class="inner">
										<div class="year"><span>1995</span></div>
										<div class="text-area info">
											<p>㈜협동싸이크로 상호 변경</p>
										</div>
									</div>
								</li>	
							</ol>
							<ol class="clear clearfix mt30">
								<li class="first">
									<div class="inner">
										<div class="year"><span>1991</span></div>
										<div class="text-area info">
											<p>포스코에서 외산대체 감속기 제품 인증</p>
										</div>
									</div>
								</li>
								<li>
									<div class="inner">
										<div class="year"><span>1988</span></div>
										<div class="text-area info">
											<p>Sumimoto를 대체 할 감속기 개발</p>
										</div>
									</div>
								</li>
								<li>
									<div class="inner">
										<div class="year"><span>1982</span></div>
										<div class="text-area info">
											<p>감속기 개발</p>
										</div>
									</div>
								</li>
								<li class="last">
									<div class="inner">
										<div class="year"><span>1970</span></div>
										<div class="text-area info">
											<p>회사 설립 : 협동기계</p>
										</div>
									</div>
								</li>	
							</ol>	
						</div>
					</div>
					<!-- //HISTORY -->
					<div class="sub-content pt20 pb50" id="sub03">
						<h3 class="content-title-01"><span>LOCATION</span></h3>
						<div id="daumRoughmapContainer1553582134312" class="root_daum_roughmap root_daum_roughmap_landing map-area" style="width:100%;"></div>
						<div class="address-area pt30">
							<ul class="clear clearfix">
								<li>
									<strong class="tit">상호</strong>
									<span class="txt">(주)협동피엘티</span>
								</li>
								<li>
									<strong class="tit">사업분야</strong>
									<span class="txt">산업분야,환경분야,유지보수</span>
								</li>
								<li>
									<strong class="tit">주소</strong>
									<span class="txt">경기도 연천군 미산면 청정로755번길 121</span>
								</li>
								<li>
									<strong class="tit">전화번호</strong>
									<span class="txt">031-916-5100~4</span>
								</li>
								<li>
									<strong class="tit">팩스</strong>
									<span class="txt">031-916-5105 / 031-835-5110</span>
								</li>
								<li>
									<strong class="tit">이메일</strong>
									<span class="txt">hdcyclo95@naver.com / hdp@hdplt.co.kr</span>
								</li>								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //container 본문-->

	<!--
		2. 설치 스크립트
		* 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
	-->
	<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

	<!-- 3. 실행 스크립트 -->
	<script charset="UTF-8">
		new daum.roughmap.Lander({
			"timestamp" : "1553582134312",
			"key" : "ss9x",
			"mapHeight" : "400"
		}).render();
	</script>