	<!-- container 본문 -->
	<div class="container-area">
		<div class="content-visual-top"><img src="/public/images/content/cotnent-top-img01.png" alt="" /></div>
		<div id="container">
			<!-- content-path -->
			<div class="content-path">
				<div class="section">
					<h2 class="skip">현재위치</h2>
					<ul class="clear clearfix">
						<li><a href="">HOME</a></li>
						<li><strong>PERFORMANCE</strong></li>
					</ul>
				</div>
			</div>
			<!-- //content-path -->
			<!-- content -->
			<div class="content" id="content">
				<div class="section">
					<h2 class="content-title-01"><span>PERFORMANCE</span></h2>
					
					<div class="sub-content pt10" id="sub01">
						<h3 class="content-title-03"><span>◆ 발전소(해외포함) 납품실적 ( 2013년~2016년 진행 )</span></h3>
						<div class="tbl-A mt30">
							<table>
								<caption><span>CYCLO-REDUCER</span></caption>
								<colgroup>
									<col style="width:12em" />
									<col style="width:12em" />
									<col style="width:5em" />
									<col />
								</colgroup>
								<thead>
									<tr>
										<th scope="col">업 체 명</th>
										<th scope="col">규격</th>
										<th scope="col">수량</th>
										<th scope="col">비고</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>화동화력발전소</td>
										<td>20HP 외</td>
										<td class="center">3</td>
										<td></td>
									</tr>
									<tr>
										<td>삼천포화력발전소</td>
										<td>1/2HP*1/3045</td>
										<td class="center">32</td>
										<td>Hsinta Power Station Unit 1&2 FGD & ESP/Ash handling system upgrading project</td>
									</tr>
									<tr>
										<td>대만화력발전소</td>
										<td>1/2HP*1/2537외</td>
										<td class="center">78</td>
										<td>EP for Guacolda power plant</td>
									</tr>
									<tr>
										<td>칠레화력발전소</td>
										<td>1/2HP*1/385외</td>
										<td class="center">128</td>
										<td>FHI-TIENJIN ESP</td>
									</tr>
									<tr>
										<td>중국 텐진 외</td>
										<td>1/2HP*1/1505외</td>
										<td class="center">143</td>
										<td>VN-2 ESP for FCFC,VIETNAM-NGHISON 1 THERMAL POWER PLANT CONSTRUCTION</td>
									</tr>
									<tr>
										<td>베트남 1/2차</td>
										<td>1/2HP*1/1225외</td>
										<td class="center"></td>
										<td></td>
									</tr>
									<tr>
										<td>여수화력발전소</td>
										<td>1.5HP*1/385외</td>
										<td class="center"></td>
										<td></td>
									</tr>
									<tr>
										<td>울진발전소</td>
										<td>5HP 외</td>
										<td class="center"></td>
										<td></td>
									</tr>
									<tr>
										<td>동해화력발전소</td>
										<td>5HP 외</td>
										<td class="center"></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="sub-conent pt50 pb50">
						<h3 class="content-title-03"><span>◆ 주요기업 거래처 납품실적 ( 2014~2016년 ) </span></h3>
						<div class="tbl-A mt30 tbl-upper">
							<table>
								<caption><span>REDUCER</span></caption>
								<colgroup>
									<col style="width:15em" />
									<col style="width:10em" />
									<col style="width:8em" />
									<col />
								</colgroup>
								<thead>
									<tr>
										<th scope="col">업체명</th>
										<th scope="col">규격</th>
										<th scope="col">수량</th>
										<th scope="col">비고</th>
									</tr>
								</thead>
								<tbody>
								  <tr>
									<td>삼성전자(주)</td>
									<td>1/2HP*1/493외</td>
									<td class="center">28</td>
									<td>구미</td>
								  </tr>
								  <tr>
									<td> (주)sec</td>
									<td>15HP*1/385외</td>
									<td class="center" >17</td>
									<td></td>
								  </tr>
								  <tr>
									<td>(주)삼평</td>
									<td>15HP*1/289외</td>
									<td class="center" >2</td>
									<td></td>
								  </tr>
								  <tr>
									<td>(주)한화기계</td>
									<td>15HP*1/121외</td>
									<td class="center" >15</td>
									<td></td>
								  </tr>
								  <tr>
									<td>현대제철(주) (당진)</td>
									<td>30HP*1/17외</td>
									<td class="center" >127</td>
									<td></td>
								  </tr>
								  <tr>
									<td>현대제철(주) (인천)</td>
									<td>15HP*1/385외</td>
									<td class="center" >54</td>
									<td></td>
								  </tr>
								  <tr>
									<td>(주)세아베스틸</td>
									<td>5HP*1/391외</td>
									<td class="center" >52</td>
									<td>군산</td>
								  </tr>
								  <tr>
									<td>(주)효성엔지니어링</td>
									<td>20HP*1/731외</td>
									<td class="center" >47</td>
									<td></td>
								  </tr>
								  <tr>
									<td> (주)광양제철</td>
									<td>15HP*1/87외</td>
									<td class="center" >68</td>
									<td></td>
								  </tr>
								  <tr>
									<td>두산인프라코어</td>
									<td>3HP</td>
									<td class="center" >16</td>
									<td>중장비조립라인</td>
								  </tr>
								  <tr>
									<td>유천정수 사업소</td>
									<td>5HP*1/29외</td>
									<td class="center" >2</td>
									<td></td>
								  </tr>
								  <tr>
									<td>남양주시 환경사업소</td>
									<td>2HP*1/87외</td>
									<td class="center" >5</td>
									<td></td>
								  </tr>
								  <tr>
									<td>부천폐기물관리사업소</td>
									<td>3HP*1/87외</td>
									<td class="center" >15</td>
									<td></td>
								  </tr>
								  <tr>
									<td>동해시상수도관리사업</td>
									<td>1HP*360RPM</td>
									<td class="center" >1</td>
									<td></td>
								  </tr>
								  <tr>
									<td>구리시환경사업소</td>
									<td>20HP*1/29</td>
									<td class="center" >3</td>
									<td></td>
								  </tr>
								  <tr>
									<td>스페코플랜트</td>
									<td>1/289 외</td>
									<td class="center" >16</td>
									<td></td>
								  </tr>
								  <tr>
									<td>순천시폐기물매립소</td>
									<td>15HP</td>
									<td class="center" >3</td>
									<td></td>
								  </tr>
								  <tr>
									<td>광주수자원기술</td>
									<td>10HP</td>
									<td class="center" >13</td>
									<td></td>
								  </tr>
								  <tr>
									<td>섬진강수자원공단</td>
									<td>5HP</td>
									<td class="center" >2</td>
									<td></td>
								  </tr>
								  <tr>
									<td>대우조선(거제도)</td>
									<td>10HP 외</td>
									<td class="center" >14</td>
									<td>크레인/컨베어 라인</td>
								  </tr>
								  <tr>
									<td>한국콘베어공업(주)</td>
									<td>15HPx4Px1/43외</td>
									<td class="center" >4</td>
									<td></td>
								  </tr>
								  <tr>
									<td>한솔제지</td>
									<td>75HPx6Px1/59</td>
									<td class="center" >2</td>
									<td></td>
								  </tr>
								  <tr>
									<td>코오롱건설(주)</td>
									<td>60HPx6Px1/187</td>
									<td class="center" >5</td>
									<td></td>
								  </tr>
								  <tr>
									<td>LG산전</td>
									<td>7.5HPx4Px1/187</td>
									<td class="center" >6</td>
									<td></td>
								  </tr>
								  <tr>
									<td>현대중공업</td>
									<td>20HP외7종</td>
									<td class="center" >38</td>
									<td></td>
								  </tr>
								  <tr>
									<td>현대제철(주) (포항)</td>
									<td>유압 x 1/9</td>
									<td class="center" >6</td>
									<td></td>
								  </tr>
								  <tr>
									<td>GS마이크론(주)</td>
									<td>3HP x 1/289</td>
									<td class="center" >2</td>
									<td></td>
								  </tr>
								  <tr>
									<td>일본)미쓰비시</td>
									<td>1/2HPx4Px1/493 외</td>
									<td class="center" >120</td>
									<td></td>
								  </tr>
								  <tr>
									<td>대만)텐진 드래곤</td>
									<td>1/2HPx4Px1/1247외</td>
									<td class="center" >50</td>
									<td></td>
								  </tr>
								  <tr>
									<td>삼성코닝(중국)/(필리핀)</td>
									<td>3HP 외</td>
									<td class="center" >98</td>
									<td></td>
								  </tr>
								  <tr>
									<td> 삼성자동차</td>
									<td>5HP 외</td>
									<td class="center" >95</td>
									<td>(대구, 부산)</td>
								  </tr>
								  <tr>
									<td>(주)삼창</td>
									<td>75KWx4Px1/121</td>
									<td class="center" >28</td>
									<td>부천소각로</td>
								  </tr>
								  <tr>
									<td>현대자동차</td>
									<td>1HP 외</td>
									<td class="center" >4</td>
									<td>(울산)대리점 납품</td>
								  </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- //content -->
		</div>
	</div>
	<!-- //container 본문-->