<section class="section">
    <h2 class="main-title b_line_gray"><span>회원관리 > 회원정보수정</span></h2>
    <div class="inner">
        <h3 class="sub-title skip"><span>회원정보수정</span></h3>
        
        <div class="tbl-B mt20">
            <table>
                <caption class="skip">등록폼</caption>
                <colgroup>
                    <col style="width:18em">
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><label for="userId">* ID(E-mail)</label></th>
                        <td>
                            <input type="text" size="20" name="userId" id="userId" value="honggildong "> @ 
                            <input type="text" size="20" name="userEmail" id="userEmail" value="naver.com"> 
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="userPw">* Password</label></th>
                        <td>
                            <input type="password" size="20" name="userPw" id="userPw">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="userPwRe">* Confirm Password</label></th>
                        <td>
                            <input type="password" size="20" name="userPwRe" id="userPwRe">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="gender">* Gender</label></th>
                        <td>
                            <label><input type="radio" name="gender"><span>Male</span></label>
                            <label><input type="radio" name="gender"><span>Female</span></label>
                        </td>
                    </tr>	
                    <tr>
                        <th scope="row"><label for="title">* Title</label></th>
                        <td>
                            <label><input type="radio" name="title"><span>Prof.</span></label>
                            <label><input type="radio" name="title"><span>Dr.</span></label>
                            <label><input type="radio" name="title"><span>Mr.</span></label>
                            <label><input type="radio" name="title"><span>Mrs.</span></label>
                            <label><input type="radio" name="title"><span>Ms.</span></label>
                        </td>
                    </tr>		
                    <tr>
                        <th scope="row"><label for="firstName">* First Name</label></th>
                        <td>
                            <input type="text" size="20" name="firstName" id="firstName">
                        </td>
                    </tr>	
                    <tr>
                        <th scope="row"><label for="middleName">Middle Name (if any)</label></th>
                        <td>
                            <input type="text" size="20" name="middleName" id="middleName">
                        </td>
                    </tr>	
                    <tr>
                        <th scope="row"><label for="lastName">* Last Name</label></th>
                        <td>
                            <input type="text" size="20" name="lastName" id="lastName">
                        </td>
                    </tr>	
                    <tr>
                        <th scope="row"><label for="affiliation">* Affiliation</label></th>
                        <td>
                            <input type="text" size="20" name="affiliation" id="affiliation">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="department">* Department</label></th>
                        <td>
                            <input type="text" size="20" name="department" id="department">
                        </td>
                    </tr>		
                    <tr>
                        <th scope="row"><label for="city">* City</label></th>
                        <td>
                            <input type="text" size="20" name="city" id="city">
                        </td>
                    </tr>			
                    <tr>
                        <th scope="row"><label for="address">* Address</label></th>
                        <td>
                            <input type="text" size="20" name="address" id="address">
                        </td>
                    </tr>		
                    <tr>
                        <th scope="row"><label for="country">* Country</label></th>
                        <td>
                            <input type="text" size="20" name="country" id="country">
                        </td>
                    </tr>	
                    <tr>
                        <th scope="row"><label for="postal">Postal Code</label></th>
                        <td>
                            <input type="text" size="20" name="postal" id="postal">
                        </td>
                    </tr>			
                    <tr>
                        <th scope="row"><label for="phone">* Phone</label></th>
                        <td>
                            <input type="text" size="20" name="phone" id="phone">
                        </td>
                    </tr>		
                    <tr>
                        <th scope="row"><label for="mobilePhone">Mobile Phone</label></th>
                        <td>
                            <input type="text" size="20" name="mobilePhone" id="mobilePhone">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="fax">Fax</label></th>
                        <td>
                            <input type="text" size="20" name="fax" id="fax">
                        </td>
                    </tr>						
                    <tr>
                        <th scope="row"><label for="special">* Special Dietary</label></th>
                        <td>
                            <label><input type="radio" name="special"><span>None</span></label>
                            <label><input type="radio" name="special"><span>Vegitarian</span></label>
                            <label><input type="radio" name="special"><span>Muslim</span></label>
                            <label><input type="radio" name="special"><span>Kosher</span></label>
                            <label><input type="radio" name="special"><span>Others</span></label>
                        </td>
                    </tr>		
                    <tr>
                        <th scope="row"><label for="secondEmail">* Second E-mail</label></th>
                        <td>
                            <input type="text" size="20" name="secondEmail" id="secondEmail" value="honggildong02"> @ 
                            <input type="text" size="20" name="secondEmailAddress" id="secondEmailAddress" value="naver.com"> 
                        </td>
                    </tr>
                    <tr>
                        <th class="bg_01" scope="row"><label for="ieeeNumber">* IEEE Membership Number</label></th>
                        <td>
                            <input type="text" size="20" name="ieeeNumber" id="ieeeNumber" value="123456GFHF">
                        </td>
                    </tr>
                    <tr>
                        <th class="bg_01" scope="row"><label for="cvfNumber">* CVF Membership Number</label></th>
                        <td>
                            <input type="text" size="20" name="cvfNumber" id="cvfNumber" value="123456GFHF">
                        </td>
                    </tr>																																								
                </tbody>
            </table>
        </div>
        <div class="button-right pt20">
            <a href="" class="btn-reg btn-D"><span class="text">수정완료</span></a>
            <a href="" class="btn-reg btn-C"><span class="text">회원목록</span></a>
        </div>
    </div>

</section>